.allNotes-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: scroll;
}

.addNote-wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.note-wrapper {

    margin: 1rem;
    background-color: var(--dark);
    width: 30%;
    height: 250px;
    border-top: 5px solid var(--btn-color);
    padding: 1rem;
    overflow: scroll;
    cursor: pointer;
    position: relative;
    transition: .2s all ease;
 
}
.note-wrapper > div{
    display: flex;
    flex-direction: column;
}
.date-time{
position: absolute;
color: white;
bottom: 1.4rem;
font-size: .8rem;
}
.note-wrapper:hover {
    transform: scale(1.02);
}

.note-wrapper::-webkit-scrollbar {
    display: none;
}

.title,
.content {
    color: var(--light);
}

.title {
    margin-bottom: 1rem;
}


.note-delete-icon-wrapper {
    position: absolute;
    bottom: .7rem;
    right: 1rem;
    height: 2.1rem;
    width: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .1s all ease;
}

.edit {
    right: 4rem;
}

.note-delete-icon-wrapper:hover {
    background-color: var(--mid)
}

.note-delete-icon {
    font-size: .8rem;
    color: var(--light);
}


@media (max-width:600px) {
    .addNote-wrapper{
        width: 100%;
    }

    .note-wrapper {

        width: 100%;
        height: 250px;
        border-top: 5px solid var(--btn-color);
        padding: 1rem;
        overflow: scroll;
        cursor: pointer;
        position: relative;
        transition: .2s all ease;
     
    }
}