/* #00eeff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    /* --dark:#172A46; */
    --dark: #0A192F;
    --darker: #061020;
    --light: #f6f6f9;
    --mid: #585673;
    --btn-color: #00a7c0;
}

#root{
    background-color: var(--darker);
}
#root div:first-child{
    display: flex;
}


/* utility classes */

.transparent_icons {
    background-color: transparent;
    border: none;
    outline: none;
}


button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all ease .1s;
}

button:hover {
    opacity: .9;
}

button:active {
    opacity: .7;
}

.error {
    color: var(--btn-color);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;

}

.error-pos-editnote {
    position: absolute;
    bottom: 7%;
    left: 5%;
}

.notebook-name-error {
    margin-top: 1rem;
    padding: 0;
}


@media (max-width: 600px) {
    #root > div{
        padding: 5%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuBtn {
        position: fixed;
        z-index: 1000;
        padding: 0;
        color: white;
        background-color: var(--darker);
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
    }

}